/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #c44032;
    color: #EDEDED;
    font-family: "Oxygen", 'Arial Narrow', sans-serif;
}
.download{
    width: 94%;
    white-space: nowrap;
    z-index: 11;
    position: relative;
}

.heading {
    position: relative;
    z-index: 11;
}

.triangle {
    position: absolute;
    top: 0;
    left: -50%;
    width: 0; 
    height: 0; 
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;   
    border-top: 1000px solid #c44032;
    z-index: 10;
}
.triangle-2 {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 0; 
    height: 0; 
    border-left: 1040px solid transparent;
    border-right: 1040px solid transparent;   
    border-top: 1040px solid #FF6049;
    z-index: 9;  
}


.demo {
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    z-index: 99;
    margin-top: 30px;
}


h1 {
    text-align: center;
    text-indent: -.12em;
    color: #EDEDED;
    font: 50px "Bitter", 'Impact', sans-serif;
    font-weight: 900;
    display: inline-block;
    margin: 0 auto;
    line-height: 1;
    width: 60%;
    box-sizing: border-box;
}

::-moz-selection{ background: rgba(255,255,255, .3); color:#fff;  }
::selection { background: rgba(255,255,255, .3); color: #fefcf2;  } 


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
